<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Melon UI Kit" />
    <meta name="keywords" content="UI/UX, Design Pattern, Design Kit" />
    <meta name="author" content="Kishan HS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../resources/js/jquery-3.6.0.min.js"></script>
    <script src="../js/sidebar.js"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo/logo_ico_icon.ico"
    />
    <link rel="stylesheet" href="../css/image.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="stylesheet" href="../css/utils.css" />
    <title>Image</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="sidebar" id="navList">
      <h3 class="flexBox">Components</h3>
      <a href="../index.html"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="../components/avatar.html"
        ><i class="fa fa-fw fa-user"></i> Avatar</a
      >
      <a href="../components/alert.html"
        ><i class="fa fa-fw fa-warning"></i> Alert</a
      >
      <a href="../components/badge.html"
        ><i class="fa fa-fw fa-id-badge"></i> Badge</a
      >
      <a href="../components/button.html"
        ><i class="fa fa-fw fa-envelope"></i> Button</a
      >
      <a href="../components/card.html"
        ><i class="fa fa-fw fa-address-card"></i> Card
      </a>
      <a href="../components/image.html"
        ><i class="fa fa-fw fa-photo"></i> Image</a
      >
      <a href="../components/input.html"
        ><i class="fa fa-fw fa-file-text"></i> Input</a
      >
    </div>

    <div class="main">[WIP] Image Layout</div>
  </body>
</html>
